# ─── Общее ────────────────────────────────────────────────────
TOKEN_SECRET="your-secret-key"

# ─── S3 (общее хранилище) ─────────────────────────────────────
S3_ENDPOINT_URL=https://hb.vkcs.cloud
S3_REGION_NAME=ru-msk
S3_BUCKET_NAME=my-app-media
S3_ACCESS_KEY_ID=your_access_key
S3_SECRET_ACCESS_KEY=your_secret_key

# ─── PostgreSQL ───────────────────────────────────────────────
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your_password
MONOLITH_POSTGRES_DB=clover
AUTH_POSTGRES_DB=clover_auth
