TOKEN_SECRET="your-secret-key"
CONFIG_PATH="./config/local.json"
DATABASE_DSN="postgres://{user}:{password}@{host}:{port}/{dbname}?sslmode=disable"
POSTGRES_USER=my_user
POSTGRES_PASSWORD=my_password
POSTGRES_DB=my_database
REDIS_ADDR="localhost:6379"
