basePath: /api/v1
definitions:
  httpapp.ErrorResponse:
    properties:
      error:
        type: string
    type: object
  httpapp.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  httpapp.RegisterRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  httpapp.RegisterResponse:
    properties:
      user_id:
        type: integer
    type: object
  models.Ad:
    properties:
      created_at:
        type: string
      description:
        type: string
      id:
        type: integer
      photos:
        items:
          type: string
        type: array
      price:
        type: integer
      seller_id:
        type: integer
      tags:
        items:
          type: string
        type: array
      title:
        type: string
      views:
        type: integer
    type: object
host: clover-go.ru
info:
  contact: {}
  description: API for the Clover service.
  title: Clover API
  version: "1.0"
paths:
  /ads:
    get:
      description: Returns a list of all ads
      produces:
      - application/json
      responses:
        "200":
          description: successfully received list of ads
          schema:
            items:
              $ref: '#/definitions/models.Ad'
            type: array
        "400":
          description: method not allowed / invalid parameters
          schema:
            $ref: '#/definitions/httpapp.ErrorResponse'
        "500":
          description: internal server error
          schema:
            $ref: '#/definitions/httpapp.ErrorResponse'
      summary: Get ads list
      tags:
      - ads
  /auth/login:
    post:
      consumes:
      - application/json
      description: Authenticates user and sets auth cookie
      parameters:
      - description: Login credentials
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/httpapp.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: login successful
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: invalid request body / invalid email / invalid password / invalid
            email or password
          schema:
            $ref: '#/definitions/httpapp.ErrorResponse'
        "500":
          description: internal server error
          schema:
            $ref: '#/definitions/httpapp.ErrorResponse'
      summary: User login
      tags:
      - auth
  /auth/logout:
    post:
      description: Invalidates current session and clears the auth cookie
      responses:
        "200":
          description: logout successful
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: invalid or expired token
          schema:
            $ref: '#/definitions/httpapp.ErrorResponse'
        "500":
          description: internal server error
          schema:
            $ref: '#/definitions/httpapp.ErrorResponse'
      security:
      - CookieAuth: []
      summary: User logout
      tags:
      - auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Creates a new user account and performs automatic login
      parameters:
      - description: Registration data
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/httpapp.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: user registered successfully
          schema:
            $ref: '#/definitions/httpapp.RegisterResponse'
        "400":
          description: invalid request body / invalid email / invalid password / user
            already exists
          schema:
            $ref: '#/definitions/httpapp.ErrorResponse'
        "500":
          description: internal server error
          schema:
            $ref: '#/definitions/httpapp.ErrorResponse'
      summary: User registration
      tags:
      - auth
securityDefinitions:
  CookieAuth:
    in: cookie
    name: token
    type: apiKey
swagger: "2.0"
