basePath: /api/v1
definitions:
  dto.ErrorResponse:
    properties:
      error:
        type: string
    type: object
  dto.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  dto.LoginResponse:
    properties:
      email:
        type: string
      name:
        type: string
      user_id:
        type: integer
    type: object
  dto.RegisterRequest:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        type: string
    type: object
  models.Ad:
    properties:
      category_id:
        type: integer
      created_at:
        type: string
      deleted_at:
        type: string
      description:
        type: string
      favorites_count:
        type: integer
      id:
        type: integer
      location:
        type: string
      photos:
        items:
          type: string
        type: array
      price:
        type: integer
      seller_id:
        type: integer
      status:
        type: string
      title:
        type: string
      updated_at:
        type: string
      views_count:
        type: integer
    type: object
host: clover-go.ru
info:
  contact: {}
  description: API for the Clover service.
  title: Clover API
  version: "1.0"
paths:
  /ads:
    get:
      description: Возвращает список всех объявлений
      produces:
      - application/json
      responses:
        "200":
          description: список объявлений успешно получен
          schema:
            items:
              $ref: '#/definitions/models.Ad'
            type: array
        "400":
          description: 'Method not allowed: Метод не поддерживается (ожидается GET)'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: 'internal error: Ошибка сервера при получении объявлений'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Получить список объявлений
      tags:
      - ads
  /auth/login:
    post:
      consumes:
      - application/json
      description: Аутентифицирует пользователя по email/пароль или, при наличии cookie,
        проверяет токен
      parameters:
      - description: Login credentials
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/dto.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: login successful
          schema:
            $ref: '#/definitions/dto.LoginResponse'
        "400":
          description: 'invalid request body: Неверный формат тела запроса'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "401":
          description: 'invalid credentials / invalid or expired token / email/password
            is required (ValidationErrors): Ошибка аутентификации или невалидный токен'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: 'failed to login: Ошибка сервера при входе'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Вход пользователя
      tags:
      - auth
  /auth/logout:
    post:
      description: Инвалидирует текущую сессию и очищает аутентификационную куку
      responses:
        "200":
          description: logout successful
          schema:
            additionalProperties:
              type: string
            type: object
        "400":
          description: 'Missing CSRF cookie / CSRF token mismatch: Ошибка CSRF'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "401":
          description: 'missing token cookie / invalid token / token has been revoked:
            Ошибка авторизации (Middleware) или internal error: Отсутствует jti'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: 'failed to logout: Ошибка сервера при выходе'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      security:
      - CookieAuth: []
      - CsrfCookieAuth: []
      - CsrfHeaderAuth: []
      summary: Выход пользователя
      tags:
      - auth
  /auth/refresh:
    post:
      description: Получает новый access и rottates refresh token
      produces:
      - application/json
      responses:
        "200":
          description: tokens refreshed
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: 'refresh token required / invalid refresh token: Ошибка refresh
            токена'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: 'internal error: Ошибка сервера при обновлении токенов'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Обновление токенов
      tags:
      - auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Создаёт нового пользователя и автоматически выполняет вход
      parameters:
      - description: Registration data
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/dto.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: user registered and logged in successfully
          schema:
            $ref: '#/definitions/dto.LoginResponse'
        "400":
          description: 'invalid request body / user already exists / validation failed
            (ValidationErrors): Ошибка формата запроса, дубликат пользователя или
            ошибка валидации'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
        "500":
          description: 'failed to register user / registered, but failed to login:
            Ошибка сервера при регистрации или авто-входе'
          schema:
            $ref: '#/definitions/dto.ErrorResponse'
      summary: Регистрация пользователя
      tags:
      - auth
  /users/{id}/ads:
    get:
      description: Возвращает список всех объявлений продавца по его ID
      parameters:
      - description: ID пользователя
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: объявления успешно получены
          schema:
            additionalProperties:
              items:
                $ref: '#/definitions/models.Ad'
              type: array
            type: object
        "400":
          description: некорректный ID пользователя
          schema:
            additionalProperties:
              type: string
            type: object
        "500":
          description: ошибка сервера
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Получить объявления пользователя
      tags:
      - ads
securityDefinitions:
  CookieAuth:
    description: JWT session token
    in: cookie
    name: token
    type: apiKey
  CsrfCookieAuth:
    description: CSRF token stored in cookies
    in: cookie
    name: csrf_token
    type: apiKey
  CsrfHeaderAuth:
    description: CSRF token required in header
    in: header
    name: X-CSRF-Token
    type: apiKey
swagger: "2.0"
